body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 8px 33.55% 1fr;
    height: 100vh;
    }


.yellow-area {
    background-color: rgb(255,224,27);
    }

.login-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 62px 1fr 5.8%;
}



    img {
        height: 38px;
        width: 38px;
        padding: 12px;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3em;
        margin-bottom: 0;
    }

    .box-element a, .login-content a {
        color: #007C89
    }

    .box-element a:hover, .login-content a:hover, .login-copyright a:hover {
        color: #006570;
    }

    .login-copyright a {
        color: gray;
    }

    .login-content {
        margin: 0 14.8% 13%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    .login label, .password label, .submit {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        label p {
            font-weight: bold;
        }

        input   {
            height: 3em;
            border: 1px solid lightgrey;
            border-radius: 2px;
        }

        .username:focus, .password-area:focus, .button-login:hover   {
            // border: 1px solid #007C89;
        }
        

    .button-login {
        margin-top: 3em;
        line-height: 3em;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #007C89;
        border: 1px solid #007C89;
        border-radius: 2px;
    }

    .button-login:hover {
        background-color: #006570;
        border: 1px solid #006570;
        cursor: pointer;
    }


    .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        font-weight: bolder;
        }

    .checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.1em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        }

    .checkbox:checked+label::before {
        border: 2px solid #006570;
        background-color: #007C89;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        width: 1.3rem;
        height: 1.3rem;    
    }

        /* стили при наведении курсора на checkbox */
    .checkbox:not(:disabled):not(:checked)+label:hover::before {
        cursor: pointer;
        }
        /* стили для активного состояния чекбокса (при нажатии на него) */
    .checkbox:not(:disabled):active+label::before {
        border: 2px solid #006570;
        // background-color: #007C89;
        width: 1.3rem;
        height: 1.3rem;
        }
        /* стили для чекбокса, находящегося в фокусе */
    .checkbox:focus+label::before {
        border: 2px solid #006570;
        // background-color: #007C89;
        width: 1.3rem;
        height: 1.3rem;
        }
        /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    .checkbox:focus:not(:checked)+label::before {
        border: 2px solid #006570;
        }
        /* стили для чекбокса, находящегося в состоянии disabled */
    .custom-checkbox:disabled+label::before {
        background-color: #e9ecef;
        }
 
    




    .keep-login, .forgot {
        margin-top: 1em;
        line-height: 3em;
        text-align: center;
    }

    .login-copyright {
        margin: 12px;
        font-size: 12px;
        color: gray;
    }



.report-area {
    background-image: url("../img/big background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 50% 0;
    position: relative;
}

    .report {
        line-height: 24px;
        position: absolute;
        top: 74.9%;
        left: 15%;
        right: 50%;
        width: 70%;
        text-align: center;
    }

    h2 {
        font-size: 1.2em;
        line-height: 0.8em;
    }


    .button-report {
        font-weight: bolder;
        border: 2px solid black;
        padding: 0 21px;
        background: rgba(0, 0, 0, 0);
        font-size: 0.88em;
    }

    .button-report:hover {
        cursor: pointer;
        color: rgb(74,67,75);
        border: 2px solid rgb(74,67,75);
    }